@using Microsoft.AspNetCore.Identity
@using SportsFine.WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsFine</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />	
        <link rel="stylesheet" href="~/css/site.css" />
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            @if (SignInManager.IsSignedIn(User))
            {   <a asp-area="" asp-controller="Home" asp-action="Home" class="navbar-brand">SportsFine</a> }
            else
            { <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SportsFine</a> }
            </div>
            
            <div class="navbar-collapse collapse">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="MyFines">My Fines</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="FinesList">List of Fines</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="CreateFine">Create Fine</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Admin">Admin</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Index</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>

                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - SportsFine</p>
        </footer>
    </div>

    <environment include="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>

      <!--Below is used by fetch-->
      <script src="~/lib/promise-polyfill/dist/polyfill.js"></script>
      <script src="~/lib/promise-polyfill/dist/promise.js"></script>
      <script src="~/lib/fetch/dist/fetch.js"></script>

  <!--Below is used by tables-->
      <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
      <script src="~/vendor/bootstrap/js/popper.js"></script>
      <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="~/vendor/select2/select2.min.js"></script>
      <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
