<!-- This is the script area-->
<script>

  function getPlayers() {
    var url = "http://127.0.0.1:63788/api/players";

    function status(response) {
      if (response.status >= 200 && response.status < 300) {
        return Promise.resolve(response)
      } else {
        return Promise.reject(new Error(response.statusText))
      }
    }

    function json(response) {
      return response.json()
    }

    function addNames(arr) {
      var dropdown = document.getElementById("DropdownPlayers");
      var option;

      for (var i = 0; i < arr.length; i++) {
        option = document.createElement('option');
        option.text = arr[i].name;
        option.value = arr[i].idPlayer;
        dropdown.add(option, dropdown[i + 1]);
      }
    }

    fetch(url)
      .then(status)
      .then(json)
      .then(function (data) {
        console.log('Request succeeded with JSON response', data);
        addNames(data);

      }).catch(function (error) {
        console.log('Request failed', error);
      });
  }

  function getFineTypes() {
    var url = "http://127.0.0.1:63788/api/Fines/types";

    function status(response) {
      if (response.status >= 200 && response.status < 300) {
        return Promise.resolve(response)
      } else {
        return Promise.reject(new Error(response.statusText))
      }
    }

    function json(response) {
      return response.json()
    }

    function addFinetypes(arr) {
      var dropdown = document.getElementById("DropdownFinetype");
      var option;

      for (var i = 0; i < arr.length; i++) {
        option = document.createElement('option');
        option.text = arr[i].title;
        option.value = arr[i].idFineType;
        dropdown.add(option, dropdown[i + 1]);
      }
    }

    fetch(url)
      .then(status)
      .then(json)
      .then(function (data) {
        console.log('Request succeeded with JSON response', data);
        addFinetypes(data);

      }).catch(function (error) {
        console.log('Request failed', error);
      });

  }

  function submitFine(e, form) {
    e.preventDefault();

    const url = 'http://localhost:63788/api/teams/';
    // The data we are going to send in our request
    var data = {
      name: "Sara",
      value2: "Test"
    };

    // The parameters we are gonna pass to the fetch function
    var fetchData = {
      method: "POST",
      body: {
        name: "Sara",
        value2: "Test"
      },
      headers: {
        'Content-Type': 'application/json'
      }
    };

    fetch(url, fetchData)
    .then(function (response) {
        return response.json();
    }).then(function (data) {
        console.log("Data submitted: ", fetchData);
        alert("form submited");
    }).catch(function (err) {
        //Failure
      console.log("Data used: ", fetchData);
        alert("Error");
    });
  }
</script>

@{
  ViewData["Title"] = "My Fines";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Here you should be able to register fines!</p>
<form action="" onsubmit="submitFine(event, this)">
  <select id="DropdownPlayers" name="DropdownPlayers">
    <option selected disabled>Select Player</option>
  </select>
  <select id="DropdownFinetype" name="DropdownFinetype">
    <option selected disabled>Select Fine</option>
  </select>
  <input type="date" />

  <textarea name="Explaination" rows="10" cols="300">Reason why the fine is registered</textarea>
  <br>
  <input type="submit">
</form>

<!--Below is used by fetch-->
<script src="~/lib/promise-polyfill/dist/polyfill.js"></script>
<script src="~/lib/promise-polyfill/dist/promise.js"></script>
<script src="~/lib/fetch/dist/fetch.js"></script>
<script>window.onload = getPlayers();</script>
<script>window.onload = getFineTypes();</script>




