<!-- This is the script area-->
<script>
  var fineTable = document.getElementById("fineTable");

  function getFineTypes() {
    var allFines;
    var newTable = document.createElement("div");
    var url = "http://127.0.0.1:63788/api/fines/types";

    function status(response) {
      if (response.status >= 200 && response.status < 300) {
        return Promise.resolve(response)
      } else {
        return Promise.reject(new Error(response.statusText))
      }
    }

    function json(response) {
      return response.json()
    }

    fetch(url)
      .then(status)
      .then(json)
      .then(function (data) {
        console.log('Request succeeded with JSON response', data);
        allFines = data;
        newTable.appendChild(buildHtmlTable(allFines));
      }).catch(function (error) {
        console.log('Request failed', error);
      });

    var fineTable = document.getElementById("fineTable");
    var _divTable_ = document.createElement('div'),
      _divTr_ = document.createElement('div'),
      _divTh_ = document.createElement('div'),
      _divTd_ = document.createElement('div');


    var wrap = document.getElementById("wrap");
    wrap.removeChild(fineTable);

    var newTable = document.createElement("div");
    newTable.setAttribute("id", "fineTable");
    newTable.setAttribute("class", "table");
    document.body.appendChild(newTable);
    wrap.appendChild(newTable);

    // Builds the HTML Table out of myList json data from Ivy restful service.
    function buildHtmlTable(arr) {
      var divTable = _divTable_.cloneNode(false),
        columns = addAllColumnHeaders(arr, divTable);
      for (var i = 0, maxi = arr.length; i < maxi; ++i) {
        var divTr = _divTr_.cloneNode(false);
        divTr.setAttribute("class", "row")
        for (var j = 0, maxj = columns.length; j < maxj; ++j) {
          var divTd = _divTd_.cloneNode(false);
          divTd.setAttribute("class", "cell");
          cellValue = arr[i][columns[j]];
          divTd.appendChild(document.createTextNode(arr[i][columns[j]] || ''));
          divTr.appendChild(divTd);
        }
        divTable.appendChild(divTr);
      }
      return divTable;
    }


    // Adds a header row to the table and returns the set of columns.
    // Need to do union of keys from all records as some records may not contain
    // all records
    function addAllColumnHeaders(arr, table) {
      var columnSet = [],
        divTr = _divTr_.cloneNode(false);
      divTr.setAttribute("class", "row header");
      for (var i = 0, l = arr.length; i < l; i++) {
        for (var key in arr[i]) {
          if (arr[i].hasOwnProperty(key) && columnSet.indexOf(key) === -1) {
            columnSet.push(key);
            var divTh = _divTh_.cloneNode(false);
            divTh.setAttribute("class", "cell");
            divTh.appendChild(document.createTextNode(key));
            divTr.appendChild(divTh);
          }
        }
      }
      table.appendChild(divTr);
      return columnSet;
    }
  }

</script>



@{
  ViewData["Title"] = "Fines List";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<!-- This is the html area-->
<div class="limiter">
  <!--Below is used by tables-->
  <link rel="icon" href="~/images/icons/favicon.ico" />
  <!--<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/vendor/animate/animate.css">
  <link rel="stylesheet" href="~/vendor/select2/select2.min.css">
  <link rel="stylesheet" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="~/css/util.css">
  <link rel="stylesheet" href="~/css/main.css">

  <div class="container-table100">
    <div class="wrap-table100" id="wrap">
      <div class="table" id="fineTable">

      </div>
    </div>
  </div>
</div>
<!--Below is used by fetch-->
<script src="~/lib/promise-polyfill/dist/polyfill.js"></script>
<script src="~/lib/promise-polyfill/dist/promise.js"></script>
<script src="~/lib/fetch/dist/fetch.js"></script>
<script>window.onload = getFineTypes();</script>


