﻿@{
    ViewData["Title"] = "Please login!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Please create an account or log into an existing account.</p>
<p>If you are logged in, please press Home or any of the other pages.</p>
